
.product__detail-image {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 100px;
    background-color: #EEEDEB;
   
    
}

.product__images {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 10px;
}

.product__images img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    object-fit: cover;
}

.product__image img {
    width: 80%;
    height: 400px;
}

.product__detail-title {
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
}

.product__price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.product__rating {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.product__rating-subtitle {
    margin-left: 10px;
    display: flex;
    gap: 10px;
}

.product__description {
    margin-top: 20px;
}

.product__quantity {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.product__quantity-title {
    margin-right: 10px;
}

.product__quantity-button {
    display: flex;
    align-items: center;
}

.product__quantity-button button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.product__quantity-number {
    width: 50px;
    text-align: center;
    margin: 0 10px;
}

.product__button {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.product__button-common button {
    padding: 10px 20px;
    cursor: pointer;
}

.product__button-border button {
    border: 1px solid #000;
}

.accordion-button::after {
    margin-left: auto;
}
